<nav class="bottom-nav d-md-none">

{% if request.appuser.unit.nama_unit != "Electrical" %}

<a href="{% url 'dashboard' %}" class="nav-item {% if request.path == '/dashboard/' %}active{% endif %}">
<i class="bi bi-house-fill"></i>
<small>Dashboard</small>
</a>


<a href="{% url 'operator_dashboard' %}" class="nav-item">
<i class="bi bi-bar-chart-line-fill"></i>

<small>Readiness</small>
</a>


<a href="{% url 'peralatan_list' %}" class="nav-item">
<i class="bi bi-tools"></i>
<small>Equipment</small>
</a>

<a href="{% url 'portal_logout' %}" class="nav-item">
<i class="bi bi-box-arrow-right"></i>
<small>Logout</small>
</a>




{% else %}
<a href="{% url 'dashboard' %}" class="nav-item {% if request.path == '/dashboard/' %}active{% endif %}">
<i class="bi bi-house-fill"></i>
<small>Dashboard</small>
</a>


<a href="{% url 'operator_dashboard' %}" class="nav-item">
<i class="bi bi-bar-chart-line-fill"></i>

<small>Readiness</small>
</a>


<a href="{% url 'peralatan_list' %}" class="nav-item">
<i class="bi bi-tools"></i>
<small>Equipment</small>
</a>


<a href="{% url 'energi_list' %}" class="nav-item">
<i class="bi bi-lightning-charge-fill"></i>
<small>Energy</small>
</a>

<a href="{% url 'portal_logout' %}" class="nav-item">
<i class="bi bi-box-arrow-right"></i>
<small>Logout</small>
</a>

{% endif %}
</nav>