{% extends "base.html" %}
{% block title %}SPV Dashboard{% endblock %}

{% block content %}

<h3>👨‍🔧 Supervisor ( {{ user.nama_lengkap}} ) </h3>

<div class="card p-3 shadow-sm rounded">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h5>Daftar Peralatan (Draft)</h5>

        <a href="{% url 'spv_verifikasi_semua' %}"
           class="btn btn-primary btn-sm">
           ✔ Verifikasi Semua
        </a>
    </div>

    <input type="text" class="form-control mb-3"
           placeholder="Cari peralatan...">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Peralatan</th>
                <th>Nilai</th>
                <th>Status</th>
                <th>Aksi</th>
            </tr>
        </thead>

        <tbody>
            {% for i in items %}
            <tr>
                <td>{{ i.peralatan.nama_peralatan }}</td>
                <td>{{ i.nilai }}%</td>
                <td><span class="badge bg-warning">Draft</span></td>
                <td>
                    <a href="{% url 'spv_verifikasi' i.id %}"
                       class="btn btn-success btn-sm">✔</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center text-muted">
                    Tidak ada data
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}